.container1 {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
.box1 {
    margin-top: 0px;
    margin-left: 40px;
    width: 690px;
    height: 340px;
    background-color: #FFE4F8;
    border-radius: 16px;
    
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.box2 {

    width: 650px;
    height: 300px;
    background-color: #fff;
    border-radius: 16px;
    
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.btn-container {
    display: flex;           
    justify-content: center;   
    gap: 10px;                 
}

.btn {
    margin-top: 20px;
    margin-right: 440px;
    width: 100px;
    height: 50px;
    display: inline-block;    
    text-align: center;
    background-color: #F29779; 
    color: white;
    text-decoration: none;     
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    align-items: center; 
    justify-content: center; 
}
.btn2 {
    margin-top: 20px;
    position: relative; 
    left: -420px;
    width: 100px;
    height: 50px;
    display: inline-block;
    text-align: center;
    background-color: #F29779;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    align-items: center; 
    justify-content: center; 
}
.btn3 {
    margin-top: 20px;
    margin-left: 635px;
    width: 100px;
    height: 50px;
    display: inline-block;     
    text-align: center;
    background-color: #F29779; 
    color: white;
    text-decoration: none;     
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    align-items: center; 
    justify-content: center; 
}
.btn:hover {
    background-color: #A3C8F1FF;
}
.btn-confirm {
    background-color: #F29779; 
}

.btn-cancel {
    background-color: #F29779; 
}

.btn-confirm:hover {
    background-color: #A3C8F1FF; 
}

.btn-cancel:hover {
    background-color: #FFB3F5FF; 
}
.background-color {
    background-color: #FFEABD;
}
.text {
    margin-top: 100px;
    margin-right: 330px;
    font-size: 40px;
    color: #F29779;
    font-weight: bold;
    text-align: left; 
}
.text2 {
    
    margin-top: 12px;
    font-size: 20px;
    color: #FFFFFFFF;
    font-weight: bold;
    text-align: left; 
}