.container1 {
    display: flex; 
   
    /* padding: 20px;  */
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
.box1 {
    margin-top: 0px;
    margin-left: 40px;
    width: 690px;
    height: 340px;
    background-color: #FFE4F8;
    border-radius: 16px;
    
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.box2 {

    width: 650px;
    height: 300px;
    background-color: #fff;
    border-radius: 16px;
    
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.btn {
    margin-top: 20px;
    /* margin-right: 550px; */
    margin-left: 635px;
    width: 100px;
    height: 50px;
    background-color: #F29779;
    border-radius: 16px;
    padding-top: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s; /* เพิ่ม transition สำหรับความนุ่มนวล */
}

.btn:hover {
    background-color: #A3C8F1FF; /* สีชมพูเมื่อชี้ */
}
.background-color {
    background-color: #FFEABD;
    /* background: linear-gradient(90deg, #FFEABD, #F4DDFC); */
}
.text {
    margin-top: 100px;
    margin-right: 330px;
    font-size: 40px;
    color: #F29779;
    font-weight: bold;
    text-align: left; 
}
.text2 {
    
    margin-top: 12px;
    font-size: 20px;
    color: #FFFFFFFF;
    font-weight: bold;
    text-align: left; 
}